@font-face {
  font-family: "Lifehack Sans Medium";
  src: url("../fonts/lifehackMedium/DearType - Lifehack Sans Medium.eot");
  src: local("☺"), url("../fonts/lifehackMedium/DearType\ -\ Lifehack\ Sans\ Medium.woff") format("woff"), url("../fonts/lifehackMedium/DearType - Lifehack Sans Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lifehack Sans Bold";
  src: url("../fonts/lifehackBold/DearType\ -\ Lifehack\ Sans\ Bold.eot");
  src: local("☺"), url("../fonts/lifehackBold/DearType\ -\ Lifehack\ Sans\ Bold.woff") format("woff"), url("../fonts/lifehackBold/DearType - Lifehack Sans Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}