@import "./fonts.scss";
@import "./base/normalize.scss";
@import "./base/nullstyle.scss";
@import "./style/main.scss";
@import "./style/advantages.scss";
@import "./style/games.scss";


::-webkit-scrollbar {
  width: 0px;
}

body {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
}

.body_lock {
  overflow: hidden;
}
