doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(http-equiv="x-ua-compatible", content="ie=edge")

    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&display=swap", rel="stylesheet")
    title Site landing kids jump tech


  body
    section.main
      .main__polygons
      .main__logo-bg
      .main__logo
      header.main__header(data-main-header)
        nav.nav
          ul
            li
              a(href="#") Products
            li
              a(href="#") Test drive
            li
              a(href="#") For kids
            li
              a(href="#") Games
            li
              a(href="#") Contact us
            li
              a(href="#") FAQ
            li.nav__cross(data-nav-cross)

      .main__burger(data-main-burger)
        .menu__stripes
        .menu__title Menu

      .main__social(data-main-social)
        a.main__instagram(href="#")
        a.main__youtube(href="#")
        a.main__faceebook(href="#")

      .main__content
        h1.main__call Turn any space into a virtual playground
        h4.main__description an interactive projector game system that makes entertainment lively, hygienic, educational, and above all, a ton of fun
        a.main__btn(href="#")
          span.main__get Get started for free
          span.main__arrow

    section.advantages
      .advantages__wrap
        .advantages__content
          h2.advantages__title Our Advantages
          div.advantages__text KIDSjumpTECH is part of the HighProject group of companies, which has implemented more than 3,000 interactive floor installation projects worldwide. <br><br>Due to the large number of projects our team has identified all the current problems and needs of the market, so we offer our customers the most optimal equipment.

        .advantages__slider(data-slider)
          .advantages__item.advantages__item-first(data-advantages-item)
            .advantages__info(data-advantages-info)
            .advantages__icon
            advantages__name Comprehensive development of children
            .advantages__description(data-advantages-description) Sets of numerical numbers, comparison signs and arithmetic operations. <br><br>Learn the alphabet, vowel and consonant letters, sounds and syllables. <br><br>Group and competitive games. Teamwork practice.

          .advantages__item.advantages__item-second(data-advantages-item)
            .advantages__info(data-advantages-info)
            .advantages__icon
            .advantages__name Any surface can be interactive
            .advantages__description(data-advantages-description) Sets of numerical numbers, comparison signs and arithmetic operations. <br><br>Learn the alphabet, vowel and consonant letters, sounds and syllables. <br><br>Group and competitive games. Teamwork practice.

          .advantages__item.advantages__item-third(data-advantages-item)
            .advantages__info(data-advantages-info)
            .advantages__icon
            .advantages__name It will make you stand out by using modern technologies
            .advantages__description(data-advantages-description) Sets of numerical numbers, comparison signs and arithmetic operations. <br><br>Learn the alphabet, vowel and consonant letters, sounds and syllables. <br><br>Group and competitive games. Teamwork practice.

          .advantages__item.advantages__item-fourth(data-advantages-item)
            .advantages__info(data-advantages-info)
            .advantages__icon
            .advantages__name The prestige of your institution will increase
            .advantages__description(data-advantages-description) Sets of numerical numbers, comparison signs and arithmetic operations. <br><br>Learn the alphabet, vowel and consonant letters, sounds and syllables. <br><br>Group and competitive games. Teamwork practice.

          .advantages__switch
            .advantages__left-arrow(data-advantages-left)
            .advantages__number(data-advantages-number)
            .advantages__right-arrow(data-advantages-right)

    section.games
      .games__wrap
        .games__content
          .games__title
            div 90+
            h2 Games
          .games__description More than 90 educational games and applications are included with the delivery of the interactive floor.
          .games__btn
            .games__view

        .games__slider
          .games__plate
            .games__move(data-games-move)
            .games__move(data-games-move)
            .games__move(data-games-move)
            .games__item
              .games__item-picture.games__item-picture-first
              .games__item-age 7+
              .games__item-bg
              .games__item-skill
                div adventure
                collaboration
            .games__item
              .games__item-picture.games__item-picture-second
              .games__item-age 10+
              .games__item-bg
              .games__item-skill
                div adventure
            .games__item
              .games__item-picture.games__item-picture-third
              .games__item-age 10+
              .games__item-bg
              .games__item-skill
                div adventure
                div memory
            .games__item
              .games__item-picture.games__item-picture-fourth
              .games__item-age 10+
              .games__item-bg
              .games__item-skill
                div collaboration
                div memory
          .games__arrows
            .games__left(data-games-left)
            .games__right(data-games-right)
